
body {
    width: 100%; /* Quita espacio en blanco*/
    font-family: 'Open Sans', sans-serif; /* Asigna tipografía para todo el html*/
}
header {
    font-size: medium;
}
h1{
    font-size: x-large;
}
h2{
    font-size: 1.2rem;
}
p{
    font-size:medium; /* cambios de tamaño para parrafo*/
}
main {
    background:black; /* Color de fondo negro para sección principal*/
}
/*  */
.navbar{
 background: transparent; /* Fondo transparente*/
 z-index: 1; /* Permite dejar navbar sobre carrusel*/
 position: fixed;
 width: 100%;
}

footer a{
    color:white; /* color blanco para fontawsome*/
    font-size:xx-large;
    text-decoration: none;
}